@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800;900&display=swap");

/* ------------------------------Custom Properties----------------------- */
:root {
  --main-color: #009fe2;
  --text-color: #ada9a9;
   --bg-color: #151517; 
   

  --second-bg-color: #323946;
  --shadow-color: #080a0c;
  --bg-color-smedia: #ffffff0c;
}

/*---------------------------- Reset ----------------------------------*/
* {
  margin: 0;
  padding: 0;

  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
/* #mostrar es un boton dinamico en JS  */
#mostrar {
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
  transition: 1s;
  margin-top: 1rem;
  border-radius: 10px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background: #f7f7f7;
  color: #515559; 
}
.modoOscuro{
   background: var(--bg-color);
  color: var(--text-color);  
}
/*---------------------------- Site Styles----------------------------------*/
/*---------------- Intro-----------------------*/
.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
   background-color: #f7f7f7; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 3000;
  transition: 1s;
}

.intro img {
  width: 12rem;
  top: 210px;
  position: absolute;
  margin-bottom: 4rem;
}
.nombre {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--main-color);
  line-height: 2rem;
}
.frontend {
  font-weight: 100;
  font-size: 1.5rem;
  color: var(--text-color);
}

.letra__nombre {
  position: relative;
  display: inline-block;
  bottom: -50px;
  opacity: 0;
}
.letra__nombre.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}
.letra__nombre.fade {
  bottom: 250px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}
/* ------------- */
section {
  min-height: 100vh;
  padding: 5rem 9% 0;
}

main {
  position: relative;
}
aside {
  position: fixed;
}
.header__vertical {
  padding: 3rem 0 0 2rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 7rem;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
.menu__hamburguesa .open {
  display: none;
}

.menu__hamburguesa .alexLogo {
  width: 8rem;
}
.navbar__vertical {
  padding-top: 9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.navbar__icon {
  position: relative;
  margin-top: 3rem;
}
.navbar__icon i {
  font-size: 2.2rem;
  color: var(--text-color);
}
.navbar__icon i:hover {
  color: var(--main-color);
}
.navbar__vertical .navbar__icon:hover p {
  opacity: 1;
  pointer-events: auto;
}
.navbar__icon .text__link {
  color: #080a0c;
  font-size: 1.4rem;
  position: absolute;
  left: 3rem;
  top: -1rem;
  opacity: 0;
  background-color: #009fe2;
  padding: 0.2rem 1rem;
  border-radius: 0.2rem 0.4rem 0.4rem 0.4rem;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navbar__icon p:before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 0.8rem;
  background-color: #009fe2;
  top: -0.1;
  left: -0.1rem;
  transform: translateX(-28%) rotate(45deg);
}

#menu-icon {
  font-size: 5.3rem;
  color: var(--main-color);
  display: none;
}

.home-img img {
  width: 30vw;
  padding-bottom: 8rem;
}
.home {
  display: flex;
  align-items: center;
}

.home-content .dev {
  font-weight: 500;
  color: var(--text-color);
}

.home-content .subtitulo {
  font-weight: bold;
  color: var(--main-color);
}
.imgAlex {
  -webkit-animation: move_vector 3s linear infinite;
  animation: move_vector 3s linear infinite;
}
@-webkit-keyframes move_vector {
  0% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(15px);
  }
}
@keyframes move_vector {
  0% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(15px);
  }
}

.home-content {
  display: flex;
  flex-direction: column;
  padding: 7rem 0 7rem;
  width: 70%;
}
.home-content h3 {
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 0;
}
span {
  color: var(--main-color);
}

.home-content h1 {
  font-size: 7rem;
  font-weight: 700;
  line-height: 6rem;
}

.home-content p {
  font-size: 1.6rem;
  line-height: 2.5rem;
  padding-bottom: 2rem;
}

.btn {
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  transition: 0.3s ease;
  font-size: 1.6rem;
  color: var(--second-bg-color);
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding: 1rem 2.8rem;
  cursor: pointer;
  max-width: 17.7rem;
}

.btn:hover {
  box-shadow: none;
}
.whatsapp-correo {
  margin-top: 2rem;
  position: absolute;
  display: flex;
  top: 0rem;
  left: 20rem;
  justify-content: flex-start;
}
.whatsapp-correo h3 {
  font-size: 1.5rem;
}
.datos {
  display: flex;
  align-items: center;
  margin: 1rem;
}
.datos .bx {
  font-size: 2.3rem;
  padding-right: 0.5rem;
  color: var(--main-color);
}
.personal {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-start;
}
.personal p {
  font-size: 1.2rem;
  line-height: 0.8rem;
}
.darkmode {
  margin-top: 2rem;
  position: absolute;
  display: flex;
  top: 1.5rem;
  right: 7rem;
  justify-content: flex-start;
  
}
.icon__darkmode{
  cursor: pointer;
  width: 2.5rem;
}

.social_media {
  padding: 7rem 0 0 19rem;
  display: flex;
  align-items: flex-start;
  width: 45rem;
  height: 5rem;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
}
.social_media p {
  font-size: 1.3rem;
}

.iconos,
.iconos2 {
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-size: 2.3rem;
  background-position: center;
  display: block;
  margin-left: 0.5rem;
}

.ico--facebook {
  background-image: url("../img/imgSvg/facebook.svg");
}
.ico--GitHub {
  background-image: url("../img/imgSvg/git.svg");
}
.ico--GitHub2 {
  background-image: url("../img/imgSvg/git2.svg");
}
.ico--instagram {
  background-image: url("../img/imgSvg/instagram.svg");
}
.ico--LinkedIn {
  background-image: url("../img/imgSvg/linkedin.svg");
}
.ico--netlify {
  background-image: url("../img/imgSvg/netlify.svg");
}
.ico--netlify2 {
  background-image: url("../img/imgSvg/netlify2.svg");
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  
}
.about-img .imgAbout {
  max-height: 20%;
  width: 28vw;
  padding-bottom: 12rem;
}
.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-content h2 {
  text-align: left;
  font-size: 4.5rem;
  line-height: 3rem;
}
.about-content h3 {
  font-size: 2rem;
  padding: 1rem 0;
}
.about-content p {
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 3rem;
  text-align: justify;
}
.btn2 {
  width: 16rem;
}

.skills {
  margin-bottom: 5rem;
}
.skills h2 {
  margin: 3rem 0;
}
.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem 7% 0;
}
.skills-container .skills-box {
  flex: 1 1 16rem;
  background-color: var(--second-bg-color);
  padding: 3rem 1rem 2rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  transition: 0.5s ease;
}
.skills-container .skills-box:hover {
  border-color: var(--main-color);
  box-shadow: 0 0 1rem var(--main-color);
  transform: scale(1.1);
}

/* portafolio y slider */

.portafolio {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 16rem;
}
.headingProyects {
  text-align: center;
  font-size: 4.5rem;
  padding-bottom: 16rem;
}
.logo-slider {
  position: absolute;
  width: 200px;
  height: 100px;
  z-index: 1000;
}
.slider span p {
  position: absolute;
  color: var(--main-color);
  font-size: 13px;
  margin: 99px 0 0 10px;
}
.slider {
  position: relative;
  width: 250px;
  height: 120px;
  transform-style: preserve-3d;
  animation: rotate 70s linear infinite;
}
@-webkit-keyframes rotate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(300deg);
  }
}
@keyframes rotate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(300deg);
  }
}
.slider span {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 50deg)) translateZ(413px);
  box-shadow: 0 0.2rem 10rem var(--main-color);
}
.slider span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 2s;
}
.slider span:hover img {
  transform: translateY(-30px) scale(1);
  font-size: inherit;
  box-shadow: 0 0 1rem var(--main-color);
}

/* formulario de contacto */

.contact h2 {
  margin-bottom: 2rem;
}
.contact form {
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
}
.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 30%;
}
.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.6rem;
  background-color: var(--second-bg-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
  color: var(--text-contact);
}
.contact form .input-box input {
  width: 49%;
  margin: 4px 0;
}

.contact form textarea {
  resize: none;
  height: 200px;
}

.contact form .btn {
  cursor: pointer;
}
input .btn {
  margin: 10px 0 0;
}
/* -----------------footer--------------------- */
.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.footer-text p {
  font-size: 1.5rem;
}

/* ------------------Breakpoints------------------- */
@media (max-width: 680px) {
  html {
    font-size: 50%;
  }
  .darkmode{
    visibility: hidden;
  }

  .header__vertical {
    width: 100%;
    padding: 1rem 0 0 2rem;
    height: 6rem;
  }
  .navbar__vertical {
    position: fixed;
    top: 0;
    right: 0;
    width: 27vw;
    height: 100%;
    background-color: #262a2edd;
    justify-content: flex-start;
    padding: 14rem 0 0 0;
    box-shadow: -16px 10px 26px -10px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -16px 10px 26px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -16px 10px 26px -10px rgba(0, 0, 0, 0.75);
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transform: translate(110%);
    -webkit-transform: translate(110%);
    -moz-transform: translate(110%);
    -ms-transform: translate(110%);
    -o-transform: translate(110%);
  }
  .spread {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }

  .menu__hamburguesa {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu__hamburguesa .open {
    width: 4rem;
    display: block;
    top: 3rem;
    right: -40.8rem;
    z-index: 2000;
  }
  .menu__hamburguesa .alexLogo {
    width: 4rem;
  }

  .navbar__icon i {
    font-size: 3rem;
    padding: 1.5rem;
  }
  .navbar__vertica .navbar__icon .text__link {
    left: -0.7rem;
    top: -1.5rem;
  }

  .nombre {
    margin-top: 3rem;
  }
  .home-img img {
    width: 48vw;
  }
  .whatsapp-correo,
  .social_media p {
    display: none;
  }
  .social_media {
    padding: 2rem 0 0 0;
    width: 25rem;
  }
  .iconos {
    width: 4rem;
    height: 4rem;
    background-size: 4.3rem;
  }
  .home-content {
    align-items: center;
  }
  #menu-icon {
    display: block;
  }
  .whatsapp-correo h3 {
    font-size: 3rem;
  }
  section {
    margin: 0 auto;
  }
  .portfolio-box,
  .skills {
    width: 90%;
    height: auto;
  }
  .home {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    font-size: 50%;
    text-align: center;
    margin-bottom: 5rem;
    -webkit-clip-path: none;
    clip-path: none;
  }
  .home-img img {
    width: 38vw;
    padding: 0;
  }
  .home-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 95%;
  }
  .home-content h3 {
    margin: 1rem;
    font-size: 2rem;
  }
  .home-content h1 {
    font-size: 4.5rem;
    line-height: 2.5rem;
  }
  .home-content p {
    padding: 1rem 0 3rem;
  }
  .about {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50%;
    text-align: center;
  }
  .about-content h2 {
    text-align: center;
  }
  .about-content h3 {
    font-size: 2rem;
    font-weight: lighter;
  }
  .about-img .imgAbout {
    max-height: 30%;
    width: 48vw;
    padding: 0;
  }
  .contact form .input-box input {
    width: 100%;
  }
  .footer {
    justify-content: center;
  }
}
